/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 13, 2024, 11:11:32 PM
    Author     : lechi
*/

*{
    margin: 0;
    padding: 0;
}
ul{
    padding:0;
}
#logo{
    width: 40px;
    border-radius:20%;
}
.bContainer{
    display: flex;
    margin: 40px 150px;
    flex-wrap: wrap; 
    border: 1px solid black;
}
.bItem{
    display:flex;
    width:280px;
    height:60px;
    align-items: center;
    border: 1px solid black;
    display: flex;
    background-color: #34B67A;
    border-radius: 10px;
    margin: 10px 20px;
    box-sizing: border-box;  
    margin: 10px 22px;
}
li{
    list-style-type: none;
}

.bId{
    display: flex;
    margin-left:10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    color: #34B67A;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    border-radius: 58%;
}
.bName{
    border: 0px solid black;
}


