/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 13, 2024, 11:11:32 PM
    Author     : lechi
*/

*{
    margin: 0;
    padding: 0;
}
ul{
    padding:0;
}
#logo{
    width: 40px;
    border-radius:20%;
}



